#MYSQL ENV 
MYSQL_PORT=3306
MYSQL_USER=guidap_user
MYSQL_PASSWORD=guidap_pass
MYSQL_ROOT_PASSWORD=guidap_root
MYSQL_DATABASE=guidap_marketplace_db


WAIT_HOSTS=db:3306
WAIT_HOSTS_TIMEOUT=60

PMA_HOST=guidap_mysql
PMA_PORT=3306

JWT_ACCESS_TOKEN_SECRET="your secret key"
MAPBOX_ACCESS_TOKEN="your token access mapbox api"
OPEN_WEATHER_API_KEY="your key" 